<div
  class="confirm-backdrop"
  (click)="onBackdropClick($event)"
>

  <section
    class="confirm-dialog"
    role="dialog"
    aria-modal="true"
    [attr.aria-label]="title"
  >

    <!-- Close -->
    <button
      type="button"
      class="close-button"
      aria-label="Close confirmation"
      (click)="cancel()"
    >
      ×
    </button>


    <!-- Icon -->
    <div class="confirm-icon">
      {{ icon }}
    </div>


    <!-- Title -->
    <h2 class="confirm-title">
      {{ title }}
    </h2>


    <!-- Message -->
    <p
      class="confirm-message"
      [class.confirm-message-with-input]="showInput"
    >
      {{ message }}
    </p>


    <!-- Optional Input -->
    @if (showInput) {

      <div class="confirm-input-field">

        <label
          class="confirm-input-label"
          for="confirmDialogInput"
        >
          {{ inputLabel }}
        </label>


        <input
          id="confirmDialogInput"
          class="confirm-input"
          type="text"
          autocomplete="off"
          [maxlength]="inputMaxLength"
          [placeholder]="inputPlaceholder"
          [ngModel]="inputValue"
          (ngModelChange)="onInputChange($event)"
          (keyup.enter)="confirm()"
        />


        @if (inputError) {

          <div class="confirm-input-error">
            {{ inputError }}
          </div>

        }

      </div>

    }


    <!-- Actions -->
    <div class="confirm-actions">

      <button
        type="button"
        class="cancel-button"
        (click)="cancel()"
      >
        {{ cancelText }}
      </button>


      <button
        type="button"
        class="confirm-button"
        (click)="confirm()"
      >
        {{ confirmText }}
      </button>

    </div>

  </section>

</div>